@import "../../assets/style/variable.scss";
@import "../../assets/style/font.scss";

// 最外層的容器, 顯示隱藏動畫使用.
.information-container {
  height: 100vh;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0 1rem 1rem 0;
  transform: translateX(-100%);
  transition: transform 0.2s ease-out;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 1;

  &.active {
    transform: translateX(0%);
    box-shadow: 0 0 1rem 1rem rgb(0 0 0 / 10%);
  }

  /*
    因為 menu button 定位在 information-container 外面, 所以 
    information-container 不能設定 overflow: hidden; 不然按鈕會消失, 所以多包一層容
    器做 overflow: hidden; 用在 0px ~ 575px 手機尺寸時使用.
  */
  .hidden-container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  // 資訊
  .information {
    padding: 0px 2rem;
    @include font-style(1.2rem);
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }

  // 標題
  .logo {
    @include font-style(1.8rem);
    font-weight: 900;
    padding: 2rem 0;
  }

  // icon color 說明.
  .legend {
    color: #fff;
    border-radius: 1rem;
    overflow: hidden;

    div {
      padding: 1rem 4rem;
      // 不可以換行
      white-space: nowrap;
      font-weight: 700;
    }

    .sufficient {
      @include sufficient-background-color(0.7);
    }

    .warning {
      @include warning-background-color(0.65);
      color: #000;
    }

    .emergency {
      @include emergency-background-color(0.3);
      color: #000;
    }

    .soldOut {
      @include soldOut-background-color(0.5);
      color: #000;
    }
  }

  // icon 說明.
  .icon-information {
    padding: 2rem 0;
    // 不可以換行
    white-space: nowrap;

    .item {
      display: flex;

      &:first-child {
        margin-bottom: 1rem;
      }
    }

    img {
      width: 3rem;
      height: 3rem;
    }

    p {
      padding: 0 1rem;
      @include font-style(1.2rem, 3rem);
      font-weight: 700;
    }
  }

  // 表單, 城市區域選擇.
  .from {
    padding: 0.5rem 0 1rem 0;
    border: 2px solid $sufficient;
    border-radius: 1rem;
    box-sizing: border-box;

    h3 {
      padding: 0.5rem 0;
      @include font-style(1.5rem);
      font-weight: 700;
    }

    select {
      padding: 0 4rem 0 4.5rem;
      @include font-style(1.2rem);
    }
  }

  // 版權
  .copyright {
    padding: 2rem 0;
    font-weight: 700;

    a {
      // 文字底線.
      text-decoration-line: underline;
    }
  }

  .menu {
    @include button-style();
    margin: 1rem;
    transform: rotate(90deg);
    position: absolute;
    left: 100%;
    top: 0px;

    &:hover {
      background: rgba(255, 255, 255, 1);
    }

    &.active {
      transform: rotate(-90deg);
    }
  }

  .scroll-container {
    padding: 0 1rem;
    height: 80%;
    transform: translateX(-1.5rem);
    position: absolute;
    left: 100%;
    top: 0px;
    opacity: 0;

    &.active {
      opacity: 1;
      cursor: pointer;
    }
  }

  .scroll {
    width: 0.5rem;
    height: 100%;
    @include soldOut-background-color(0.6);
    border-radius: 1rem;
  }
}
